body {
    background-color: #f3f2f3;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}
.bande{
    display: flex;
    align-content: center;
    margin-bottom: 0;
    margin: auto;
    
}

.bande2{
    color: #000000;
    width: auto;
}

#destinataire{
    margin: auto;
}

header {
    top:0px;
    text-align: center;
    background-color: #e3e3e3;
    position: sticky;
    width: -moz-available;
    padding: 2px;
}

img{
    max-height: 90px;
    margin: 0px;
}

#messages{
    margin-top: 10px;
    padding-bottom: 50px;
}

ul{
    padding-left: 0%;
}

li {
    list-style-type: none;
    margin-bottom: 10px;
    
    padding: 6px;
    border-radius: 10px;
    color: white;
    width: 50%;
}

li span {
    font-style: italic;
    font-weight: bolder;
    color: #323232;
}

#chat {
    width: 90%;
    margin: auto;
    }

#message-form {
    max-height: 50px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #b7b5b9;
    display: flex;
}

input {
    width: 70%;
    height: 30px;
    margin: 2px;
}

button {
    width: 25%;
    height: auto;
    margin: 2px;
}

.bas{
    width: fit-content;
    margin: 2px;   
    padding: 5px 10px ;
    height: auto;
}

 /* Style buttons */
.btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 5px 15px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    width: auto;
    border-radius: 3px;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
} 

.sent {
    text-align: right;
    color: #000000;
    background-color: #00AEFF;
    border-bottom-right-radius:0px ;
    margin-left: auto;
    margin-right: 0;
    width: fit-content;
}

.receive {
    color: #000000;
    text-align: left;
    background-color: #B8B8B8;
    border-top-left-radius:0px ;
    margin-right: auto;
    width: fit-content;
}


.sent span {
    margin-left: 5px;
}

/* Formulaire de connexion, caché par defaut */
.form-popup {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 5px;
    background-color: #b7b5b9;
    padding: 10px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    box-sizing: border-box;
  }

.form-container{
    max-width: 400px;
}
/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    box-sizing: border-box;
  }
  
/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
    box-sizing: border-box;
    height: auto;
  }
  
/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
    box-sizing: border-box;
    height: auto;
  }
  
/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }