body {
    background-color: #f3f2f3;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}
.bande{
    display: flex;
    align-content: center;
    margin-bottom: 0;
    margin: auto;
    
}

.bande2{
    color: #000000;
    width: auto;
    padding: 15px;
}

#destinataire{
    margin: auto;
}

header {
    top:0px;
    text-align: center;
    background-color: #e3e3e3;
    position: sticky;
    width: -moz-available;
    padding: 2px;
}

img{
    max-height: 90px;
    margin: 0px;
}

#messages{
    margin-top: 10px;
    padding-bottom: 50px;
}

ul{
    padding-left: 0%;
}

li {
    list-style-type: none;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 10px;
    color: white;
    width: 50%;
}

li span {
    font-style: italic;
    font-weight: bolder;
    color: #323232;
}

#chat {
    width: 90%;
    margin: auto;
    }

#message-form {
    max-height: 50px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #b7b5b9;
    display: flex;
}

input {
    width: 70%;
    height: 30px;
    margin: 2px;
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 2px solid blue;
    border-radius: 4px;
    background-color: rgb(180, 180, 180);
    resize: none;

}

button {
    width: 25%;
    height: auto;
    margin: 2px;
    -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
}

.bas{
    width: fit-content;
    margin: 2px;   
    padding: 5px 10px ;
    height: auto;
}

 /* Style buttons */
.btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 5px 15px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    width: auto;
    border-radius: 3px;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
} 

.sent {
    text-align: right;
    color: #000000;
    background-color: #00AEFF;
    border-bottom-right-radius:0px ;
    margin-left: auto;
    margin-right: 0;
    width: fit-content;
}

.receive {
    color: #000000;
    text-align: left;
    background-color: #B8B8B8;
    border-top-left-radius:0px ;
    margin-right: auto;
    width: fit-content;
}

.msg_boite_leger{
    border: grey solid;
    border-width: 0px 0px 1px 0px;
    border-radius: 0px;
    color: #000000;
    padding: 5px;
    width: auto;
    margin: 10px;
    -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
}

.msg_boite_leger:hover{
    border-color: rgb(42, 42, 42);
    background: #dedede;

}

#liste_des_messages{
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none; 
    background-color: #b7b5b99f;
    position: fixed;
    bottom: 25px;
    
    width: 50%;
    max-height: 200px;
}

#conv_termine{
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #b7b5b9;
    font-style: italic;
    min-height: 50px;
    width: 100%;
}

.termine{
    display: grid;
    align-items: center;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-bottom: 16px solid blue;
    width: 120px;
    height: 120px;
    margin: auto;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

element::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

#inner{
    overflow: hidden;
}


/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
.dropdown .bas {
font-size: 16px;
border: none;
outline: none;
color: white;
padding: 14px 16px;
background-color: inherit;
font-family: inherit; /* Important for vertical align on mobile phones */
margin: 0; /* Important for vertical align on mobile phones */
}


.sent span {
    margin-left: 5px;
}

/* Formulaire de connexion, caché par defaut */
.form-popup {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 5px;
    background-color: #b7b5b9;
    padding: 10px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    box-sizing: border-box;
  }

.form-container{
    max-width: 400px;
}
/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    box-sizing: border-box;
  }
  
/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
    box-sizing: border-box;
    height: auto;
  }
  
/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
    box-sizing: border-box;
    height: auto;
  }
  
/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

@media only screen and (max-width: 600px){
    #chat{
        width: unset;
    }
}


.invisible{
    display: none;
}