body {
    visibility: visible;
    background-color: #f3f2f3;
    margin: 0px;
    margin-top: 10px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 1;
}

h1{
    text-align: center;
}

h2{
    margin: 0px;
}

@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    
}

input{
    background-color: rgb(180, 180, 180);
    width:88%;
    margin:10px;
    padding: 10px;
    min-height: 30px;
    border: none;
    border-bottom: 2px solid blue;
    border-radius: 4px;
    font-size: large;
}

input[type=text]:focus {
    background-color: white;
    font-size: large;
}

button {
    border-radius: 4px;
    margin:10px;
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 90%;
    margin-bottom:10px;
    opacity: 0.8;
    box-sizing: border-box;
    height: auto;
    -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
}


button:hover{
    background-color: #006a43;
}

.rouge{
    background-color: red;
}

.rouge:hover{
    background-color: rgb(132, 0, 0);
}

.plus {
    background-color: rgb(1, 137, 221);
    position: fixed;
    bottom: 50px;
    left: 50px;
    width: fit-content;
}

.plus:hover{
    background-color: rgb(0, 90, 146);
}

.plusconv {
    background-color: rgb(0, 23, 136);
    position: fixed;
    bottom: 50px;
    left: 50px;
    width: auto;
}

.plusconv:hover{
    background-color: rgb(0, 63, 223);
}

#menu, #menu2{
    width: fit-content;
    border-radius: 3px;
    position: fixed;
    right: 10px;
    top: 8px;
    padding: 12px 14px;
    background-color: RoyalBlue;
}

#retour{
    width: fit-content;
    border-radius: 3px;
    position: fixed;
    left: 10px;
    top: 8px;
    padding: 12px 16px;
    background-color: RoyalBlue;
}

#editeur{
    display: flex;
    flex-direction: column;
    height: 97%;
    margin-bottom: 10px;
}

.centre{
    text-align: center;
    display: block;
    position: relative;
    top:30%;
}

textarea{
    width: 90%;
    margin:10px;
    height: 100%;
    padding: 12px 15px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid blue;
    border-radius: 4px;
    background-color: rgb(180, 180, 180);
    resize: none;
    font-size: larger;

}

textarea:focus{
    background-color: white;
}

header {
    top:0px;
    text-align: center;
    background-color: #e3e3e3;
    position: fixed;
    width: -moz-available;
    padding: 2px;
}

.split{
    height: 100%;
    width: 49%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    margin: 10px;   
}
.splitmobile{
    height: 100%;
    margin: 10px;
    margin-top: 40px;
    position: fixed;
}

.liste_msg{
    left: 0;
    border-right: rgba(128, 128, 128, 0.595) 4px solid;
}

.msg{
    right: 0;
}


@media only screen and (max-width: 600px){
    .split{
        width: 100%;
        transition: visibility 0s, opacity 0.5s linear;
        margin: 10px 0 10px 0 ;
    }
    .liste_msg{
        border: none;
    }
    #editeur{
        margin-top: 50px;
    }
    .button{
        margin: 0px;
    }

    form button{
        margin-left: auto;
        margin-right: auto;
    }

    textarea{
        margin-left: auto;
        margin-right: auto;
    }
    #en_tete{
        margin-left: auto;
        margin-right: auto;
    }

    #editeur{
        height: 90%;
    }

    .plusconv{
        left:unset;
        bottom: 30px;
    }
    .plus{
        left:unset;
        bottom: 30px;
    }
    .liste_msg #menu,#menu2 {
        top:unset;
        bottom:30px;
    }
}


.haut{
    white-space: nowrap;
    display: flex;
    margin: auto;
    margin-top: 5px;
    margin-right: 5px;
    padding: 5px;
    background-color: rgb(226, 226, 226);
}

ul{
    padding-left: 0%;
}

li {
    background-color: #dedede;
    list-style-type: none;
    margin: auto;
    margin-bottom: 8px;
    text-align: center;
    padding: 6px;
    border-radius: 10px;
    width: 50%;
    -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
}

#nouv_demo{
    border-width: 3px;
    border-color: rgb(104, 104, 104);
    border-style: dashed;
    background-color: rgb(182, 180, 180);
}

.tete{
    background-color: rgb(208, 204, 204);
    list-style-type: none;
    margin: 5px;
    text-align: center;
    border-radius: 0px;
    border: black solid 0px; 
    padding: 6px;
    width: 50%;
    -webkit-transition: all 0.40s ease;
        -moz-transition: all 0.40s ease;
        -ms-transition: all 0.40s ease;
        -o-transition: all 0.40s ease;
}

.tete:hover {
    background-color: rgb(161, 161, 161);
}

#interface_conv{
    height: 98%;
}

.selection{
    border-width: 0px 0px 3px 0px;
}

li:hover{
    display: block;
    background-color: rgb(0, 132, 255);
}

.clique{
    background-color: rgb(108, 182, 252);
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-bottom: 16px solid blue;
    width: 120px;
    height: 120px;
    margin: auto;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
    }
    
/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }
    
/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
    
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
    
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
  
#editeur.invisible{
    display: none;
}

.clearfix{
    display: flex;
}
/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .decobtn {
    float: left;
    width: 50%;
    margin: 0;
  }
  
  /* Add a color to the cancel button */
  .cancelbtn {
    background-color: #ccc;
    color: black;
  }

  .cancelbtn:hover{
    background-color: gray;
  }
  
  /* Add a color to the delete button */
  .decobtn {
    background-color: royalblue;
  }
  .decobtn:hover{
    background-color: rgb(0, 32, 126);
  }
  
  /* Add padding and center-align text to the container */
  .container {
    padding: 16px;
    text-align: center;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5daa;
    padding-top: 50px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* Style the horizontal ruler */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* The Modal Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and delete button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .deletebtn {
      width: 100%;
    }
  }

  /* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
    
    /* Tooltip text */
.tooltip .tooltiptext {
    font-family: Arial;
    visibility: hidden;
    width: 120px;
    background-color:  rgb(56, 56, 56);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    
      /* Position the tooltip text */
      position: absolute;
      z-index: 1;
      bottom: auto;
      top:5px;
      right: 128%;
    
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

#retour .tooltiptext{
    left: 128%;
}


    
/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent transparent transparent rgb(56, 56, 56);
}

#retour .tooltiptext::after{
    left: unset;
    right: 100%;
    border-color: transparent rgb(56, 56,56)  transparent transparent;
}
    
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


 /* The side navigation menu */
 .navCote {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .navCote a {
    padding: 8px 8px 8px 27px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .navCote a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style du bouton "fermer" */
  .navCote .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* pitit écran */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } 
.noirceur {
    display: none;
    background: #000;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.supr{
    background-color: red;
}

.invisible{
    visibility: hidden;
    display: none;
    transition:opacity 0.5s linear;
    opacity: 0;
}